Biblio.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tipo_clase_tipo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="novela"/>
            <xs:enumeration value="infantil"/>
            <xs:enumeration value="didactico"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipo_clase_tipo_rev">
        <xs:restriction base="xs:string">
            <xs:enumeration value="informatica"/>
            <xs:enumeration value="corazon"/>
            <xs:enumeration value="coches"/>
            <xs:enumeration value="investigacion"/>
            <xs:enumeration value="otras"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipo_clase_tipo_perio">
        <xs:restriction base="xs:string">
            <xs:enumeration value="nacional"/>
            <xs:enumeration value="internacional"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipo_seccion_tipo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="economica"/>
            <xs:enumeration value="opinion"/>
            <xs:enumeration value="deportes"/>
            <xs:enumeration value="nacional"/>
            <xs:enumeration value="internacional"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "libros">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="libro">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name = "titulo" type= "xs:string" />
                                        <xs:element name = "indice" type ="xs:string" />
                                        <xs:element name = "sinopsis" type ="xs:string" />
                                        <xs:element name ="capitulos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="capitulo">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                <xs:element name="titulo_capi"  type= "xs:string"/>
                                                                <xs:element name="contenido">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="enlace" type="xs:string" use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="cantidad_paginas" type="xs:integer" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="cantidad_paginas" type="xs:integer" use="required"/>
                                    <xs:attribute name="tipo_clase" type="tipo_clase_tipo" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "revistas">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="revista">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name = "titulo_rev" type= "xs:string" />
                                        <xs:element name = "numero_rev" type ="xs:integer" />
                                        <xs:element name = "indice_rev" type ="xs:string" />
                                        <xs:element name ="secciones">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="seccion">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                <xs:element name="contenido_rev">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="enlace" type="xs:string" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="num_pags" type="xs:integer" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="num_pags" type="xs:integer" use="required"/>
                                    <xs:attribute name="tipo_clase" type="tipo_clase_tipo_rev" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "periodicos">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="periodico">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name = "indice_perio" type= "xs:string" />
                                        <xs:element name ="secciones_perio">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="seccion_perio">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                <xs:element name="articulos">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="articulo">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                                        <xs:element name="contenido_perio">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension base="xs:string">
                                                                                                        <xs:attribute name="enlace" type="xs:string" use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="autor" type="xs:string" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="tipo_seccion" type="tipo_seccion_tipo" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="fecha_publ" type="xs:date" use="required"/>
                                    <xs:attribute name="tipo_clase" type="tipo_clase_tipo_perio" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>